PORT=4000
JWT_SECRET="db79664dbf4fcfd7314fc743e928546ad01014e897107af94d84310d8ca277fa"
ANTHROPIC_API_KEY="sk-ant-api03-2Krq3E141262bkaHUueuv02Q_b13iRVIANSZhONG"
FIREBASE_SERVICE_ACCOUNT="{\"type\":\"service_account\",\"project_id\":\"zentribe-e8ba2\",\"private_key_id\":\"5992a847bc6df7e580feea2f03ff952f01672434\",\"private_key\":\"-----BEGIN PRIVATE KEY-----\\nMIIE"
NODE_ENV="production"