PORT=4000
JWT_SECRET="db79664dbf4fcfd7314fc743e928546ad01014e897107af94d84310d8ca277fa"
ANTHROPIC_API_KEY="sk-ant-api03-2Krq3E141262bkaHUueuv02Q_b13iRVIANSZhONG"
FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"zentribe-e8ba2","private_key_id":"5992a847bc6df7e580feea2f03ff952f01672434","private_key":"-----BEGIN PRIVATE KEY-----\nMIIE vgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC9KDh01Cd448RB\nD+xEITYg9unA20wdbAXHqHtmoWD/YmWAgTmMtJv6Wy1ZdYTC3S2L5Yok7b7sCnW9\nWUAoYQE24LJMb6xdfSI2tt1MKofez9kMgekGg4KkQbZG4yEdMylyiAtHQAbbT
IhP\nTYMcvtPiPQJD6uRNhw3HCXJMbyoK6gM6oAzAVouFff6X9Br7/mvM4EFv7j5AkM5K\nWdpP23UJ755Al70G3Qu25+ZnFBGDWPS7GEqpy4bxe7JRD8uiJZJdGSvGqQxzwT3T\nq32VsW878JB6q0tMKqh+g/zwCdShI+BdsIi7uxl2vV4d9UljxWV9
y6BHb2YYOaVn\nCGvbmWXfAgMBAAECggEADZdnPxXDZE9RWa9wNZEBV6sGLsJTHMYXQDpd64jq9E64\nplwiq3aKwplsj8H+8RV9YVDz9SVUE5fIz/sqvfwCX1QT26QmiW0lWTMYgZGIw7zB\nhsGK4dnvOCg0lbFaPsPfVYhq7wqts3IzVSdnpVgc12O
01vZ4ww1SMxv9p3pRVglM\nzZm3TaLcFyhKx8cT3pMuppZ1+dAzHrGqqB6qf5h3RXZ24zx2LRCXB0F0RISL8hga\nS89BYnpyUK5w6cSjnakSl/9p9HiDi40Yzfrm3OZzDUZpD+Y1t1bT0BeYfD1gL1Ew\nHgFYsdTWE8pcTfbUS/sDmw39wRr3rB0Eac
+k2eY0SQKBgQDtO1b3huwytJsCsup1\n1+IiGb3Q0g6sb0ZaI33M/UxpH8b9YrIzZmB4XGAkXy/2BTWqf+/85KWeVMBni/nB\nAhL/6xP9F+T6o43JGAW1CqOm66H16AdffNvcyifIEP7vKTPf9wTls7ONvv4+ujdw\navRcXpRbHATiNTj1H54aFd6CF
QKBgQDMHzko1J2ghWidMFbqXYQcX2huGd420WlC\nT8cycFooWdYxi63mnXR4ZcHmIUoDwVRALbMVoGg+ci2IaEG6saYoDR7KVUHd8k6C\niYo6t+Mb/q57yTT8MqfV7ejQlCL03sYeIK3F+k0HJPCknjre2oTW/p6SeE1Hic7q\nusXHK0dpIwKBgQDj
fpcscb+J9HX+BZMfhPH+346OdRHLPD5L7GMUNAeVe/q4PHBF\nKDT01yj/WCTHGUHYii2a560HA6Eq6ymLdDDCKC2X9NUJodQy9o1qipRbWvWKuoJv\niG3S8i1qBxpiQLHVYa3ZlRVnpbNsdej6Lia9eZltMZZhUsaXEkXsH/Kr7QKBgAQG\n9ay9jSK
WnzrCsmRLVgjtRPUvI3g3Z3k8c7SmDNFQ/G3b0KGFJ8AcWdf9fiVW0h+2\nBxt9H7FjtUxEqk9Ro/KUV7AsQHFtj2j557VC3YM24iBlFtuG8FLDL921nn7wSj5b\n7LHEP3LNosXMrWKqMwa+3UgMgZHQwTlWWAKW8wC7AoGBANykF0CNvxnd+/3g+n5F
\nqaHv7hm/R/N/rsOYbLXnWqvWsf3+RrVZFDOGw2iyLSvHEJW6MVHBL87rpujvK+k+\nfn5A4wPAR6yVn5ddA8pUN10Uf2SiH5/yvqoTW8Dn0n08Og0wxL/+oNnjWoF++lCL\nP9AYtvvTWcaZAMGkxwOKx2sn\n-----END PRIVATE KEY-----\n",
"client_email":"firebase-adminsdk-fbsvc@zentribe-e8ba2.iam.gserviceaccount.com","client_id":"100895869173606138399","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https
://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/firebase
-adminsdk-fbsvc%40zentribe-e8ba2.iam.gserviceaccount.com","universe_domain":"googleapis.com"}
NODE_ENV="production"